
@media all and (min-width: 600px) {
  .votingPanel {
    margin: 8px 0px 0px 40px;
  }
  .point {
    margin: 1px 1px 15px 15px;
    padding: 25px 0px 0px 0px;
    width: 100px;
    height: 100px;
  }
}

@media all and (max-width: 600px) {
  .votingPanel {
    margin: 8px 0px 0px 20px;
  }
  .point {
    margin: 1px 1px 15px 15px;
    padding: 15px 0px 0px 0px;
    width: 80px;
    height: 80px;
  }
}

.point {
  float: left;
  background: #00303F;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  opacity:0.9;
}

.point-label {
  font-family: 'Lobster', cursive;
}

.glyphicon {
  margin-top:5px;
}

.point-label, .glyphicon {
  color: #FFF;
  font-size: 30px;
}

.point:hover, .point:hover .point-label, .point:hover .glyphicon,
.point.selected, .point.selected .point-label {
  background: #fff;
  color: #00303F;
  opacity: 0.8;
}

.point:hover, .point.selected {
  border: 2px solid;
  border-color: #00303F;
}

