.user {
  font-family: 'Ubuntu', sans-serif;
  color: #D9B310;
  font-size: 16px;
  padding: 5px 12px 5px 20px;
  margin: 1px 1px 1px 1px;
}

.user span {
  color: white;
  padding: 0px 10px 0px 0px;
}

.usersPanel {
  width: 100%;
  margin-top: 10px;
  padding: 20px 0px 20px 0px;
  opacity: 0.9;
  background: #00303F;
  border-radius: 15px;
  -webkit-border-radius: 15px; 
  -moz-border-radius: 15px;
  border: 2px solid #00303F;
}

.header {
  color: #fff;
  font-size: 22px;
  padding: 1px 12px 10px 15px;
  margin: 1px 1px 1px 1px;
}
